/***** Gestion Planning ****/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    border: 1px solid #555;
}

li a {
    display: block;
    color: #000;
    padding: 20px 50px;
    text-decoration: none;
    font-size: 18px;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #07D;
    color: white;
}

input{
    color:black;
    border:1px solid black;
    width: 96%;
    margin-left: 0.1px;
}

#weekList{
    cursor:pointer;
}

#weekList li:hover{
    background-color: #07D !important;
    color: white;
}

#weekList input{

    background-color:white;
    margin-left: 25%;
    width:50%;
}

#weekList li{
    padding:25px;
}

label{
    position: relative;
    top: 15px;
    text-decoration: underline;
}

#submitPlanning{
    height:50px;
}

#formGestionPlanning{
    margin: inherit;
    position: inherit;
    width: inherit;
    height: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-decoration: inherit;
    border-radius: inherit;
    padding: inherit;
    opacity: inherit;
    background: inherit;
    color: black;
}

::-webkit-input-placeholder{
    color:grey;
}

input#lieu {
    border: 1px solid;
    border-radius: 5px;
    width: 95%;
    margin-left: 1%;
}


#periode input{
    width:90%;
    border: 1px solid black;
    margin-left:1%;
}

#listEntrainement input{
    width:95%;
    margin-left: 1%;
    background-color: white;
}

#addEntrainement{
    float:right;
}
#backToMenuGestion{
    float: left;
    width:100px;
    height: 50px;
}

#listEvent{
    width: 80%;
    height:50px;
    margin-left: 10%;
    border-radius: 5px;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    padding: 5px 8px;
    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 95% 50%;
    cursor:pointer;
}
