#divPlayers, #divInfosGroupe{
    display: none;
}

.buttons {
    text-align: center;
}

.buttons a{
    margin-bottom: 5px;
}

#formEditionGroupe {
    text-align: center;
}

td img{
    width: 10px;
}

.order{
    cursor: pointer;
}