/* 
    Created on : 30 juin 2016, 15:30:30
    Author     : Alexis
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

*,h1, h2, h3, p, form, button, input, ::-webkit-input-placeholder {
    font-family: 'Open Sans';
}

html{
    /*cursor:url(../img/roller2.cur)4 12, auto;*/
    /*background-image: url(../img/backRoller2_2.jpg);*/
    background-color: white;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-height: 50%;
    overflow-y: auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

h1{
    text-shadow: inherit;
    padding: inherit;
}
h2{
    text-shadow: inherit;
    color:black;
}
h3{
    margin: inherit;
}
h4{
    margin: inherit;
}


form .uk-form-icon{
    display: -webkit-box;
}


#erreur{
    color:red;
    font-weight: bold;
    padding-top: 20px;
}

#listGroup{
    display:block;
    padding: 10px;
}

#infoGroupe{
    display:none;
}

#tableGroupes{
    /*display: none;*/
}

footer{
    /*background:#ccc;*/
    position:relative;
    width:100%;
    height:30px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    font-style: oblique;

}
footer p{
    margin: 0 0 0 0;
    bottom: -5px;
    position: relative;
}

a{
    color:blue;
}

#formConnect{
    margin-top: 20%;
}

#formConnect form, #formInscription form{
    text-align: center;
}

#formConnect .input-field{
    left: 10%;
    position: relative;
}

#formInscription, #displayConnection{
    display: none;
}

#dateScrolling .jqx-scrollview-page{
    width:inherit;
    height: inherit;
    background-color: white;
}

#dateScrollin   g{
    background-color: transparent;
    width:50%;
    height:250px;
    margin-left: 25%;
    background-color: rgba(12, 26, 37, 0.65);
    border: inherit;
    border-radius: 15px;
}

#dateScrolling{
    cursor: -webkit-grab; cursor:-moz-grab;
    overflow: hidden;
    position: relative;
    margin-left: 11%;
}

#dateScrolling:active{
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}
#dateScrolling h1{
    font-size: 24px;
    position: relative;
    /*left: 5%;*/
    top:  15px;
    color:#208ee4;
}
#dateScrolling h2{
    font-size: 20px;
    color:#208ee4;
}

#formEditionCompte input{
    margin-top: 0px;
}

#menuMain p{
    color:white;
}

#notification{
    color:#07D;
}
#notification li:before{
    background-image: url(../img/notif_alert.png);
    background-size: 15px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
}

#notification input{
    background: rgba(255,255,255,0.3);
    font-size: inherit;
    width: inherit;
    color: inherit;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: inherit;
    border: inherit;
    padding: inherit;
    display: inline-block;
    margin: inherit;
    cursor:pointer;
}

#arrowUpToHide{
    display:none;
    cursor: pointer;
}

#paramButton{
    width: 30px;
    top: 10px;
    left: 10px;
    /* background-color: white; */
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}

img#paramButton:hover{
    -webkit-transform: rotate(-100deg);
    transform: rotate(-100deg);
}


#planning{
    display: none;
    background-color: rgba(32, 142, 228, 1);
}

.uk-modal-dialog {
    color: black;
}

#firstUse{
    display: none;
    top: 100px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.65);
}

ul#listLiGroup {
    color: black;
}

#buttonResponse{
    margin-top: 20px;
}

#buttonReponse{
    text-align: center;
}

#buttonReponse a{
    width: 60%;
    margin-bottom: 10px;
    border-radius: 15px;
}

#buttonReponse a:hover{
    width: 50%;
    border-radius: 20px;
}


.selectedButtonReponse{
    border: 5px solid #27e496;
    font-weight: bold;
    text-decoration: underline;
    font-size: 25px;
    color: #27e496;
    width: 50%;
}

#buttonResponse button{
    display: initial;
}

a.waves-effect.waves-light.btn.blue.buttonRejoindreA {
    float: right;
}

.uk-modal h2{
    padding: 0px;
    color:black;
    font-size: 24px;
}

#arrowLeft{
    width:50px;
    float:left;
    cursor: pointer;
    position: relative;
    top: 250px;
    left: 5%;
}
#arrowRight{
    width:50px;
    cursor: pointer;
    float:right;
    top: 250px;
    position: relative;
    right: 35%;
}

#notReponse{
    text-align: center;
    display: none;
    position: relative;
    font-size: 22px;
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

img#notReponse {
    width:40px;
}

figcaption#notReponse {
    display: none;
    width: 170px;
    text-align: center;
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

[forAdmin="true"]{
    display:inherit;
}
[forAdmin="false"]{
    display : none;
}

img#updateButton{
    cursor: pointer;
    width : 35px;
    right: 15px;
    top:5px;
    float: right;
    position : absolute;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}
img#updateButton:hover {
    -webkit-transform: rotate(-200deg);
    transform: rotate(-200deg);
}

.boy{
    color:blue;
}
.girl{
    color:deeppink;
}

.infoButton{ 
    cursor: pointer;
    position: relative;
    color: #208ee4;
    text-align: right;
}

.infoButtonGroupe{
    width:35px; 
    float:right; 
    cursor:pointer;
    position: relative;
}
.logo{
    width:35px;
}

.listPlayerReponse, #nbrPersonne{
    color:black;
}

.annule h1,.annule h2, .annule li{
    text-decoration: line-through;
}

.annule #notReponse{
    display:none;
}

.annule .infoButton:hover{
    width: 35px;
}

.annule button:disabled{
    background: grey;
}

.annule a::before {
    content: "ANNULE !"; 
    color: red;
    font-size: 25px;
}

#imgMatch{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0%;
    z-index: -1;
}

/**
   ** LOADER **
*/
.modalLoad {
    display: none;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
    position: fixed;
    z-index: 1000;
    top: 25%;
    left: 30%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.filter{
    display: none;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 135, 255, 0.18);
}

.filter p{
    position: relative;
    top: 50px;
    font-weight: bold;
    font-size: 20px;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/loading.gif) center no-repeat #fff;
}

/*
OLD LOADER
   display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 58, 40, 40, 0.8) 
        url('../img/loading.gif') 
        25% 25% 
        no-repeat;
*/

body.loading {
    overflow: hidden; 
}

body.loading .modalLoad {
    display: block;   
}